#!/bin/bash
# SIMPLIFY THE SWITCH BETWEEN ENVS

case $1 in
{% if kubenv %}
{% for command in kubenv %}
  {{ command }}) CHAIN="{{ kubenv[command] }}";;
{% endfor %}
{% endif %}
esac

if [ "$CHAIN" != "" ]
then
        kubectl config use-context $CHAIN
else
        kubectl config current-context
fi
